doctype 5
html
    head
        meta(charset='utf-8')
        if tag
            title= tag
        else
            title= 'KISSY-Gallery 组件列表'
        include control/assets
    body
        #page
            include control/header
            include control/search-box
            include control/tag-list
            #main
                include control/ad
                .component
                    ul.component-list#J_List
                        each item in components
                            if !item.beta
                                li.item(data-name="#{item.name}",data-desc="#{item.desc}",data-author="#{item.author.name}",data-star="#{item.watchers}",data-create="#{item.created_at}",data-updated="#{item.updated_at}")
                                    a.item-link(href="/#{item.name}/#{item.version}/guide/index.html",title="#{item.name}",target="_blank")
                                        h4.name.l-block #{item.name}
                                        //span.author.l-block #{item.author.name}
                                    div.desc.l-block
                                        if item.desc
                                            =item.desc
                                        else
                                            =item.description
                                    div.com-links
                                        a.author-link(href="https://github.com/#{item.githubName}",target="_blank",data-name="#{item.author.name}")
                                            img(src="http://0.gravatar.com/avatar/#{item.author.md5}?s=70",alt="#{item.author.name}")
                                            span.author-name #{item.author.name}
                                        a.star-link(href="https://github.com/kissygalleryteam/#{item.name}",target="_blank")
                                            span #{item.watchers}
                                            p STAR
                                        a.demo-link(href="/#{item.name}/#{item.version}/demo/index.html",target="_blank")
                                            span DEMO
            include control/footer