doctype 5
html
    head
        meta(charset='utf-8')
        title= 'KISSY-Gallery'
        include control/assets
    body.index
        #page
            include control/header
            include control/search-box
            #main
                .guide
                    .bd
                        a.guide-link.animated.tool(href="http://gallery.kissyui.com/coms")
                            em 组件列表
                        a.guide-link.animated.dev(href="http://gallery.kissyui.com/guide/15%E5%88%86%E9%92%9F%E5%BC%80%E5%8F%91kissy%E7%BB%84%E4%BB%B6.html")
                            em 15分钟开发kissy组件
                        a.guide-link.animated.spec(href="http://gallery.kissyui.com/guide/readme.html"
                            target="_blank")
                            em gallery组件规范说明
                    .ft
                        a#J_Source.source(href="https://github.com/kissygalleryteam")  source on github
                .contribute
                    .hd
                        p.title 贡献者
                    .bd
                        ul.author-list.right-col
                            each item in authors
                                li.author
                                    a(href="#{item.page}"
                                        target="_blank")
                                        img(src="http://0.gravatar.com/avatar/#{item.md5}?s=70"
                                            title="#{item.name}"
                                            alt="#{item.name}")
                                    .author-info.animated
                                        p.author-name #{item.name}
                                        p.author-email #{item.email}

            include control/footer
        script
            setTimeout(
                function(){
                  document.getElementById('J_Source').classList.add('bounce')
                }, 800)