doctype 5
html
    head
        meta(charset='utf-8')
        title= 'KISSY-Gallery'
        link(rel='stylesheet', href='/stylesheets/index.css?t=20130917')
    body.index
        #page
            #header
                .logo
                ul.clearfix.count-list
                    li.l-left.animated.bounce
                        p.number #{comsCount}
                        p.text 组件数
                    li.l-left.animated.bounce.authors-count
                        p.number #{authorCount}
                        p.text 贡献者
            #main
                .guide
                    .bd
                        a.guide-link.animated.tool(href="http://gallery.kissyui.com/coms")
                            em 组件列表
                        a.guide-link.animated.dev(href="http://gallery.kissyui.com/quickstart")
                            em 15分钟开发kissy组件
                        a.guide-link.animated.spec(href="http://gallery.kissyui.com/guide"
                            target="_blank")
                            em gallery组件规范说明
                    .ft
                        a#J_Source.source(href="https://github.com/kissygalleryteam")  source on github
                .contribute
                    .hd
                        p.title 贡献者
                    .bd
                        ul.author-list.right-col
                            each item in authors
                                li.author
                                    a(href="#{item.page}"
                                        target="_blank")
                                        img(src="http://0.gravatar.com/avatar/#{item.md5}?s=70"
                                            title="#{item.name}"
                                            alt="#{item.name}")
                                    .author-info.animated
                                        p.author-name #{item.name}
                                        p.author-email #{item.email}

            #footer
                .contact
                    ul
                        li.item
                            p.title 开发者旺旺群
                            p.desc  600859238
                        li.item
                            p.title 邮箱
                            p.desc kissyteam@gmail.com
                        li.item
                            p.title 讨论组
                            p.desc
                                a(href="http://groups.google.com/group/kissy-ui/"
                                target="_blank") kissy-ui
                        li.item
                            p.title &nbsp;
                            p.desc
                                a(href="http://docs.kissyui.com/"
                                target="_blank") Kissy首页
                .index-author
                   p.author-name.l-right <script src="http://s9.cnzz.com/stat.php?id=5379789&web_id=5379789&online=2" language="JavaScript"></script>

        script
            setTimeout(
                function(){
                  document.getElementById('J_Source').classList.add('bounce')
                }, 800)