html
    head
        meta(charset='utf-8')
        title= 'KISSY-Gallery'
        link(rel='stylesheet', href='http://g.tbcdn.cn/kissy/k/1.3.1/css/dpl/??base-min.css')
        link(rel='stylesheet', href='http://g.tbcdn.cn/kissy/k/1.3.1/??button/assets/dpl-min.css')
        link(rel='stylesheet', href='/stylesheets/list.css')
        script(src='http://code.jquery.com/jquery-2.0.3.min.js')
        script(src='/javascripts/jquery.mixitup.min.js')
    body
        div.content
            ul.row.btn-wrapper.J_Grid
                li.span3
                    a(href="http://mobile.kissyui.com/",target="_blank").all-com-btn.mobile-btn
                        span Kissy Mobile
                li.span3
                    a(href="http://www.builive.com/demo/index.php?useKissy=true",target="_blank").all-com-btn.bui-btn
                        span bui
                li.span3
                    a(href="http://abc.f2e.taobao.net/",target="_blank").all-com-btn.abc-btn
                        span abc

            h2.list-title Kissy Gallery
                span 社区贡献组件汇集地
                div.search-box
                    input#J_Search(type="text",placeholder="搜索gallery组件")
            p.banner
                a(href="http://www.atatech.org/activity/66",target="_blank")
                    img(src="/images/banner.png",title="kissy组件大赛",width="710")
            div.controls.ks-button-group
                button.sort.ks-button.J_SortNew(data-sort="data-create",data-order="asc",title="按照组件fork到官方库的时间排序") 最新 ↓
                button.sort.ks-button(data-sort="data-star",data-order="asc",title="按照组件的star数排序") 热度 ↓
                button.sort.ks-button(data-sort="data-updated",data-order="asc",title="按照组件更新时间排序") 更新 ↓
                button.sort.ks-button(data-sort="data-name",data-order="desc",title="按照组件名称字母数排序") 字母 ↑

            ul.component-list.row#J_List
                each item,i in components
                    if !item.beta
                        li.item.mix(data-name="#{item.name}",data-desc="#{item.desc}",data-author="#{item.author.name}",data-star="#{item.watchers}",data-create="#{item.created_at}",data-updated="#{item.updated_at}")
                            a.item-link.item-detail(href="/#{item.name}/#{item.version}/guide/index.html"
                            title="#{item.name} by #{item.author.name}",target="_blank"
                            )
                                =item.name
                            p.desc #{item.desc}
            ul.row.btn-wrapper
                li.span4
                    a(href="http://gallery.kissyui.com/quickstart",target="_blank").all-com-btn.guide-btn 15分钟开发kissy组件
        div(style="display:none;") <script src="http://s9.cnzz.com/stat.php?id=5379789&web_id=5379789&online=2" language="JavaScript"></script>
            script(src='/javascripts/list.js')